.header {
    margin-top: -20px;
    margin-left: -9px;
    height: 40px;
    width: 102%;
    background-color: black;
}
#title {
    padding-top: 12px;
    padding-left: 40px;
    color: gray;
}

#logotip {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width:100px;
}


.adding_part {
    margin-top: 40px;
    margin-left: 430px;
}

#bigtext {
    font-size: 130%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#inputting {
    width: 400px;
    height: 30px;
    border: 0.5px solid gray;
    border-radius: 3px;


}
#adding {
    margin-left: 10px;
    background-color: rgb(0, 132, 255);
    color: white;
    height: 30px;
    width: 45px;
    border-radius: 3px;
    border: 0.5px solid gray;

}

#tasks {
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    border: 0.5px solid gray;
    border-radius: 3px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li{
    /* padding-top: 10px; 
    padding-bottom: 10px; */
    border: 0.5px solid gray;
    padding: 12px 8px 12px 40px;
    background: #f3f1f1;
    user-select: none;
}
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

.close {
    margin-top: -12px;
    position:absolute;
    right: 358px;

    padding: 12px 16px 12px 16px;
  }
  .close:hover {
    background-color: #f44336;
    color: white;
  }