body {
    background-color: white
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 101.3%;
    height: 40px;
    display: flex;
    gap: 20px;
    height:55px;
    background-color: white;
}
#head_link {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    text-decoration: none;
    font-size: 13px;
}
#head_2 {
    margin-left: 300px;
}


.middle {
    position: absolute;
    margin-top: 40px;
    left: 0px;
    background-image: url(../Microsoft/pictures/back_icon.jpeg);
    width: 101.3%;
    height: 420px;
}
#main_element {
    margin-left: 120px;
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
}
#button {
    width: 140px;
    height: 45px;
    background-color: #0067b8;
    border-radius: 2px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
#six{
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
}


footer{
    position: absolute;
    margin-top: 500px;
    margin-left: 60px;
    left: 0px;
    width: 101.3%;
    height: 500px;

    display: flex;
    gap: 20px;
}
.d1 {
    color: black;
    margin-top: 70px;
    width: 320px;

    align-items: center;
}

#h2_d {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.d2 {
    color: black;
    margin-top: 70px;
    width: 320px;

    align-items: center;
}
.d3 {
    color: black;
    margin-top: 70px;
    width: 320px;

    align-items: center;
}
.d4 {
    color: black;
    margin-top: 70px;
    width: 320px;

    align-items: center;
}